<div class="row">
    <div class="span12">
        <h2>Weather Information:</h2>
        <div class="row" ng:show="forecast_information.city == undefined">
            <div class="span12">
                <h3>Sorry, no weather information.</h3>
            </div>
        </div>
        <div class="row" ng:show="show_alert == true && warning_conditions.$indexOf(current_conditions.condition) >= 0">
            <div class="alert-message error span12">
                <a class="close" ng:click="show_alert=false;">×</a>
                <p><strong>Warning !</strong> Better bring an umbrella with you today.</p>
            </div>
        </div>
        <div class="row" ng:hide="forecast_information.city == undefined">
            <div class="span6">
                <h3>Current:</h3>
                <p id="current_city">City: {{forecast_information.city}}</p>
                <ul>
                    <li ng:hide="current_conditions.condition == undefined || current_conditions.condition == ''">
                        Current Condition: {{current_conditions.condition}} <img class="thumbnail" src="http://www.google.com{{current_conditions.icon}}"></img>
                    </li>
                    <li>
                        Temperature C: {{current_conditions.temp_c}}
                    </li>
                    <li>
                        Temperature F: {{current_conditions.temp_f}}
                    </li>
                    <li>
                        {{current_conditions.humidity}}
                    </li>
                    <li>
                        {{current_conditions.wind_condition}}
                    </li>
                </ul>
            </div>
            <div class="span6">
                <h3>Forecast:</h3>
                <p>Forecast Date : {{forecast_information.forecast_date}}</p>
                <ul ng:repeat="forecast in forecasts">
                    <li>
                        Current Condition: {{forecast.condition}} <img class="thumbnail" src="http://www.google.com{{forecast.icon}}"></img>
                    </li>
                    <li>
                        High: {{forecast.high}} | Low: {{forecast.low}}
                    </li>
                    <li>
                        Date: {{forecast.day_of_week}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
