<h2>
    Choose country to see report:
</h2>
<form action="/settings" method="POST">
    <fieldset>
        <div class="clearfix">
            <label for="location">Preference Country</label>
            <div class="input">
                <select name="location" id="location">
                    <option ng:repeat="country in countries">{{country.name}}</option>
                </select>
            </div>
        </div>
        <div class="actions">
            <input type="submit" name="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
        </div>
    </fieldset>
</form>
